@import url("https://fonts.googleapis.com/css2?family=Qahiri&family=Varela&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Varela", sans-serif;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: black;
}
header {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  width: 100vw;
  height: 100vh;
}

nav {
  margin: 0rem 0rem 0rem 0rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #8f6b29, #fde08d, #df9f28);
  z-index: 1000;
}
.nav_logo{
  width: 10vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
nav p {
  font-size: 3rem;
}
nav ul {
  font-size: 1.2rem;
  width: 15vw;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
nav ul li {
  justify-content: space-evenly;
}
.black{
  color:black;
}
a {
  text-decoration: none;
}
a:hover {
  color: silver;
}

.logo {
  font-family: "Qahiri", sans-serif;
}

.gradient_text {
  background-image: linear-gradient(to right, #8f6b29, #fde08d, #df9f28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.header_content {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header_content .header_text {
  width: 65vw;
}
.header_text .logo {
  font-size: 13rem;
}
.header_choice {
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.header_choice a {
  font-size: 2.5rem;
  text-align: center;
}
.margin_bottom {
  margin-bottom: 3rem;
}
footer {
  padding: 10rem;
  background-image: linear-gradient(to right, #8f6b29, #fde08d, #df9f28);
  font-size: 1.4rem;
  color: black;
  font-weight: 250;
  text-align: justify;
}
.margin_bottom-small {
  margin-bottom: 1rem;
}
.gold {
  color: #d4af37;
}
footer a {
  color: red;
}
main {
  padding: 1rem;
  background-color: black;
}
::-webkit-scrollbar {
  width: 5px;
  background: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4af37;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}
.content_suggestor-box {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.content_suggestor-heading {
  height: 10vh;
  font-size: 3rem;
  text-align: center;
}
.content_suggestor-content {
  height: 60vh;
  display: flex;
  overflow-x: auto;
}
.content_suggestor-content::-webkit-scrollbar {
  display: none;
}
.csc {
  width: 60vw;
  flex-shrink: 0;
  margin-right: 1rem;
  background: rgba(212, 175, 55, 0.01);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
}
.csc_img {
  min-width: 20vw;
  max-width: 20vw;
  min-height: 45vh;
  max-height: 45vh;
  background: rgba(212, 175, 55, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-self: center;
  margin-left: 1rem;
}
img {
  border-radius: 10px;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 45vh;
  max-height: 45vh;
}
.csc_vertical_2 {
  display: flex;
  flex-direction: column;
}
.csc_head {
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
}
.csc_description {
  padding: 1rem;
  font-size: 1.5rem;
}
.ithihasas {
  height: 90vh;
  width: 100vw;
  background-image: linear-gradient(to right, #8f6b29, #fde08d, #df9f28);
  margin-top: 0;
}
.ithihasas_heading {
  color: black;
  font-size: 4rem;
  text-align: center;
  padding-top: 0rem;
}
.ithihasas_content {
  display: flex;
  flex-direction: row;
}
.ithihasas_content_1 {
  position: relative;
  width: 50vw;
  height: 73vh;
}
.ithihasas_content_2 {
  position: relative;
  width: 50vw;
  height: 73vh;
}
.itihasas_content_image_1 {
  position: absolute;
  top: 0;
  left: 25vh;
  right: auto;
}
.itihasas_content_image_2 {
  position: absolute;
  top: 0;
  left: auto;
  right: 25vh;
}
.itihasas_content_heading_1 {
  font-size: 3rem;
  position: absolute;
  bottom: 4rem;
  left: 32vh;
  color: black;
  font-weight: bolder;
}
.itihasas_content_heading_2 {
  font-size: 3rem;
  position: absolute;
  bottom: 4rem;
  right: 32vh;
  color: black;
  font-weight: bolder;
}

/* temporary */
.construction {
  background-image: linear-gradient(to right, #8f6b29, #fde08d, #df9f28);
  height: 100vh;
  width: 100vw;
  display: flex;
}
/*------------------------------------------------*/

.content_suggestor_nav {
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 80vh;
  width: 90vw;
  border-radius: 50px;
  background: linear-gradient(145deg, #121212, #151515);
  box-shadow: 20px 20px 60px #111111, -20px -20px 60px #171717;

  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content:space-around;
}

.content_suggestor_nav ::-webkit-scrollbar {
  display: none;
}

.csnba {
  margin: 15px;
  border-radius: 10px;
  background: linear-gradient(145deg, #121212, #151515);
  box-shadow: 10px 10px 20px #111111, -10px -10px 20px #171717;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.csnba a {
  font-size: 16px;
  color: #d4af37;
  padding: 14px;

}
